@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Fraunces:opsz@9..144&family=Gemunu+Libre:wght@300&family=Nunito+Sans:wght@200&family=Roboto:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Ephesis&family=Fraunces:opsz@9..144&family=Gemunu+Libre:wght@300&family=Nunito+Sans:wght@200&family=Roboto:wght@700&display=swap");

.contenedor {
  width: 70%;
  height: 100%;
  margin-left: 15%;
}

header {
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header__NombreEmpresa {
  font-size: 3em;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #ffffff;
  background-position: center;
  background-size: cover;
}

.header__sloganEmpresa {
  font-size: 1.5em;
  font-family: Roboto, Courier, monospace;
  margin: 0px;
  text-align: center;
  font-family: "Bruno Ace SC", cursive;
  color: #fff;
  padding-bottom: 2px;
}

main {
  /* max-width: 1320px; */
  margin-left: auto;
  margin-right: auto;
  display: inline-block;

  width: 100%;
}

/* actúa como contenedor */
#catalogo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#catalogo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.producto {
  margin-right: 75px;
  margin-left: 75px;
  margin-top: 20px;
  margin-bottom: 20px;

  /* margin: 75px 20px; */
}

.titulo {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin: 30px;
  font-size: 30px;
}

.botonMenu {
  border: none;
  background: none;
  background-color: #000;
  color: #fff;
  padding: 10px 10px;
  margin: 0 auto;
  cursor: pointer;
  margin: 10px 5px;
  width: 100%;
}

.cursos1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cursos2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cursos3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.lista1 {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-between;
  flex-wrap: wrap;
}

li {
  display: inline;
}
