.contenedor {
  width: 70%;
  height: 100%;
  margin-left: 15%;
}

.titulo {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #ffffff;
  background-color: #C43302;
  background-position: center;
  background-size: cover;
}

.cursos1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cursos2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cursos3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.lista1 {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-between;
  flex-wrap: wrap;
}

li {
  display: inline;
}